p {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(38,38,38,0.6);
  line-height: 28px;
  margin-bottom: 20px;
  @include responsive-font-size(18px);
}

.mt-80{
  margin-top: 80px;
}